Tile
{
	border: 1px solid darkgray;
	background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #fff, stop: 1 #bbb);
	border-radius: 1px;
}

Tile:pressed, Tile:checked
{
	color: %1;
	font-weight: bold;
	border: 1px solid lightgray;
};